<%= render "shared/header" %>
<div class="input-group bg-light ">
  <%= form_with(url: '#', local: true, method: :get, class: "input-group w-50 mb-0") do |form| %>
    <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "form-control" %>
    <%= form.submit "検索", class: "input-group-prepend" %>
  <% end %>
</div>
<div class='bg-light h-100'>
<% @tweets.each do |tweet| %>
  <div class='pt-4 pl-4 mb-4 container '>
    <%= tweet.user.nickname %>
    <span class='ml-4'>＜<%= tweet.idea.genre.name %>＞</span>
  </div>
  
  <div class="list-group bg-light d-flex flex-row justify-content-center ">
    <%= link_to  tweet.idea.title , idea_tweet_path(tweet.idea, tweet.id), class: "list-group-item mt-2 text-dark shadow-sm w-75 " %>
  </div>
<% end %>
</div>
<%= render "shared/footer" %>