<header class='container-fluid'>
  <div class='container-fluid'>
    <%= link_to image_tag("", class:""), "/" %>
  </div>
  <div class='container-fluid'>
    
    <div class='d-flex justify-content-end container-fluid'>
      <%# if user_sined_in? %>
        <%= link_to "ユーザーの名前", "#", class: "btn font-weight-normal ml-1" %>
        <%= link_to 'ログアウト', "#", method: :delete, class: "btn btn-secondary ml-1" %>
      <%# else %>
        <%= link_to 'ログイン', "#", class: "btn btn-primary ml-1" %>
        <%= link_to '新規登録', "#", class: "btn btn-primary ml-1" %>
      <%# end %>
    </div>
  </div>
</header>